body {
  background-color: rgb(203, 225, 238);
  background-image: url(sky.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.weather-app {
  background-color: rgba(135, 178, 243, 0.7);
  border: 4px solid rgb(22, 26, 87);
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 550px;
  margin: 60px auto;
}

ul {
  list-style: none;
}

#icon {
  width: 85px;
  position: relative;
  left: 20px;
  bottom: 6px;
}

#output-one {
  font-weight: bold;
}

.output-two {
  position: relative;
  top: 5px;
}

#output-two {
  font-size: 15px;
  padding: 0;
}

.forecast-col {
  position: relative;
  bottom: 6px;
}

#city-and-temp {
  font-size: 26px;
}

#celsius,
#fahrenheit,
#pipe {
  position: relative;
  bottom: 7px;
}

.link {
  color: rgb(22, 26, 87);
}

.active {
  text-decoration: none;
  color: rgb(33, 37, 41);
  cursor: default;
}

.active:hover {
  color: rgb(33, 37, 41);
}

#description {
  text-transform: capitalize;
}

#github-link {
  color: rgb(22, 26, 87);
}

.forecast-day,
.forecast-temps {
  text-align: center;
}

.forecast img {
  position: relative;
  left: 19px;
}

.temp-min {
  opacity: 0.7;
}
