body {
  background-color: rgb(203, 225, 238);
  background-image: url(sunny.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.weather-app {
  background-color: rgb(153, 209, 228);
  border: 3px solid rgb(58, 171, 236);
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 50px auto;
}

ul {
  list-style: none;
}

#icon {
  width: 70px;
  position: relative;
  left: 20px;
}

#output-one {
  font-weight: bold;
}

#output-two {
  font-size: 15px;
}

#city-and-temp {
  font-size: 26px;
}

#celsius,
#fahrenheit,
#pipe {
  position: relative;
  bottom: 7px;
}

.active {
  text-decoration: none;
  color: rgb(33, 37, 41);
  cursor: default;
}

.active:hover {
  color: rgb(33, 37, 41);
}

#description {
  text-transform: capitalize;
}
