body {
  background-color: rgb(203, 225, 238);
}

.weather-app {
  background-color: rgb(153, 209, 228);
  border: 3px solid rgb(58, 171, 236);
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

ul {
  list-style: none;
}

#icon {
  font-size: 65px;
  position: relative;
  left: 30px;
  bottom: 10px;
}

#city {
  font-size: 26px;
}
